.receipt{
    margin-top: 30px;
    margin-bottom: 0;

    @media (min-width: 768px) {
        margin-top: 60px;
        margin-bottom: 65px;
        padding: 0 42px;


    }
    .left_top{
        padding: 30px;
        @media (min-width: 768px) {
            padding: 30px 40px;

    
    
        }
        label{
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 8px;
            margin-top: 16px;
        }


        .form_title{
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 14px;
            margin-top: 0;
        }

        .check_img_first{
            width: 16px;
            height: 16px;
            top:32px;
            left:8px;
            transform: translate(-50%, -50%);
            z-index:5;
            @media (min-width: 768px) {
                width: 20px;
                height: 20px;
                top:32px;
                left:10px;
            }
        }


        .check_img_second{
            width: 16px;
            height: 16px;
            top:32px;
            left:86px;
            transform: translate(-50%, -50%);
            z-index:5;
            @media (min-width: 768px) {
                width: 20px;
                height: 20px;
                top:32px;
                left:85px;
            }
            @media (min-width: 920px) {
                top:32px;
                left:105px;
            }
        }

        .inside_circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #EAF0ED;
            left: 158px;

            @media (min-width: 768px) {
                width: 14px;
                height: 14px;
                left: 153px;
            }
            @media (min-width: 920px) {
                left: 193px;
            }
        }

        .circle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #8DA291;

            @media (min-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }

        .line {
            background: #8DA291;
            width: 62px;
            height: 1px;
            @media (min-width: 768px) {
                width: 55px;
            }
            @media (min-width: 920px) {
                width: 75px;
            }

        }

        .choose{
            margin-bottom: 14px;
            margin-top: 16px;
            >a{
                padding: 14px 0;
                font-size: 20px;
                line-height: 28px;
            }
        }
       
    }


 


    input{
        height: 56px;
        padding-left: 20px;
        background: #EAF0ED;
        border: none;
    }
    ::placeholder{
        color: #8DA291
    }

    select{
        height: 56px;
        padding-left:19px;
    }

    .left_bottom{
        font-size: 24px;
        line-height: 33px;
        padding-top: 19px;
        padding-bottom: 13px;
        background: #FFE180;
    }

    .order>p, .list>p{
        padding: 16px 0;
        // margin-bottom: 16px;
        font-size: 24px;
        line-height: 33px;

    }

    .subtotal{
        line-height: 22px;
    }

    .delivery_fee{
        margin: 8px 0 16px 0;
    }

    .total{
        font-size: 20px;
        line-height: 28px;
    }
   
    .list{
        ul{
            gap:16px;
        }
        li{
            // margin-bottom: 16px;
        }
        p{
            color: #8DA291;
        }
        
        
    }

    .cart_product_img{
        width: 120px;
        height: 80px;
        margin-right: 20px;
       
        img{
            width: 100%;
            height: 100%;
        }
    }

    .checkout_left{
        width: 100%;
        @media (min-width: 768px) {
            width: 58.974%;

        }
    }
    .checkout_right{
        width: 38.461%;
        .order_subject{
            padding: 16px 20px;
            margin-bottom: 20px;
        }
        .list_subject{
            padding: 16px 20px;
            .name{
                line-height: 22px;
            }
            .price{
                font-size: 20px;
                line-height: 28px;
            }
        }
    }


}