img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

p {
    overflow-wrap: anywhere;
}

body {
    padding-top: 30px;
}

.navbar {
    padding: 0 30px;

    @media (min-width: 768px) {
        padding: 0 42px;
    }

    .navbar-nav {
        gap: 10px;

        @media (min-width: 768px) {
            gap: 60px;
        }
    }

    .nav-link {
        line-height: 22px;
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-toggler {
        font-size: 0;
        border: none;
    }

    .navbar-toggler-icon {
        width: 18px;
        height: 12px;
    }

    .shopping_cart {
        margin-left: 79px;
    }

    .navbar-toggler-icon {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/dehaze-24px.png?raw=true);
    }
}

.section_one {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;

    @media (min-width: 768px) {
        margin-left: 42px;
        margin-right: 42px;
    }

    .banner_image {
        height: 277px;

        @media (min-width: 768px) {
            height: 496px;
        }
    }

    .row {
        margin-top: 0;

        @media (min-width: 768px) {
            margin-top: -89px;
        }
    }

    .three_subject {
        position: relative;
        height: 180px;

        @media (min-width: 768px) {
            height: 256px;
        }

        li {
            z-index: 10;
            overflow: hidden;
        }


        a {
            writing-mode: vertical-rl;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;

            @media (min-width: 768px) {
                font-size: 24px;
                line-height: 30px;
            }

            p {
                z-index: 3;
                letter-spacing: 4px;
            }

            &:hover {
                color: #3F5D45;
            }
        }

        a::after {
            position: absolute;
            background-color: #3F5D45;
          

            opacity: 0.8;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        a:hover::after {
            background-color: #FFE180;
       
        }

        a::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url("https://bit.ly/2R5tqwD");
            filter: blur(5px);
            z-index: -1;
            background-size: cover;
            background-position: center;
        }

        .subject2>a::before {
            background-image: url("https://bit.ly/2Dwoxd7");
        }

        .subject3>a::before {
            background-image: url("https://bit.ly/2OUteif");
            transform: rotate(180deg)
        }
    }
}

.section_two,
.section_three {
    position: relative;
    gap: 30px;

    padding: 0;
    @media (min-width: 768px) {
        padding: 0 42px;
    }

    margin-top: 0;
    @media (min-width: 768px) {
        margin-top: 60px;
    }

    @media (min-width: 768px) {
        background: #EAF0ED;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            /* 控制白色區塊的高度 */
            left: 0;
            width: 100%;
            height: 20px;
            /* 調整這個數值來控制白色部分的大小 */
            background: #FFFFFF;
            z-index: 1;
            /* 確保背景顯示在底層 */
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            /* 控制白色區塊的高度 */
            left: 0;
            width: 100%;
            height: 20px;
            /* 調整這個數值來控制白色部分的大小 */
            background: #FFFFFF;
            z-index: 1;
            /* 確保背景顯示在底層 */
        }

    }

  

    .slogan {
        margin: 30px 0;
        max-width: 196px;

        @media (min-width: 768px) {
            height: 460px;
            margin: 0;
            z-index: 5
        }
    }

    .picture {
        height: 250px;

        @media (min-width: 768px) {
            width: 460px;
            height: 460px;
            z-index: 5
        }
    }

    p {
        line-height: 32px;
        background: #EAF0ED;
        padding: 30px;


        @media (min-width: 768px) {
            writing-mode: vertical-rl;
            height: 280px;
            padding: 0;
            margin: 70px 0;
        }
    }

}

.slogan4 {
    margin: 30px 0;
    max-width: 196px;
    @media (min-width: 768px) {
        width: 89px;
        margin: 80px 0;
    }

}

.section_products {
    margin-bottom: 30px;
    padding: 0 30px;

    @media (min-width: 768px) {
        padding: 0 42px;
        margin-bottom: 60px;
    }

    .three_product {
        @media (min-width: 768px) {
            gap: 20px;
        }

        li>div>div:first-of-type {
            height: 315px;
        }

        .product_center {

            .name {
                width: 58%;
                padding: 14px 0;
            }

            .price {
                width: 42%;
                padding: 14px 0;
            }
        }

        span {
            writing-mode: vertical-rl;
            padding: 12px 8px;
            left: 20px;
            letter-spacing: 3px
        }

        .like_button {
            top: 20px;
            right: 20px;
        }

    }
}

.email {
    padding: 30px 30px 0 30px;

    @media (min-width: 768px) {
        padding: 0 42px;
    }

    .left {
        gap: 20px;
    }

    .email_input {
        height: 56px;
        margin: 30px 0;

        input {
            padding-left: 64px;
        }
    }

    .email_image {
        top: 16px;
        left: 20px;
    }

    button {
        background-color: #FFE180;
        padding: 0 22px;
    }
}

footer {
    padding: 30px;

    @media (min-width: 768px) {
        padding: 30px 42px;
    }

    .footer_left {
        margin-bottom: 37px;
        width: 100%;

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
    }

    .footer_logo {
        max-width: 171px;
        margin-bottom: 39.5px;

        @media (min-width: 768px) {
            margin-bottom: 115.5px;
        }

        img {
            max-width: 100%;
        }
    }

    .copy_right {
        margin-top: 23px;
    }
}