*{
    outline: 1px solid #000;
}

img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
} 

body{
    padding-top: 30px;
}

.navbar-expand-md{
    padding: 0 42px;
}

.navbar-brand{
    margin-right: 0;
    padding:0;
}

.navbar-nav{
    gap: 60px;
}

.nav-link{
    line-height: 22px;
}

.navbar-collapse{
    flex-grow: 0;
}

.container-fluid{
    padding: 0;
    height: 40px;
}

.navbar-toggler{
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 0;
    border: none;
}

.navbar-toggler-icon{
    width: 18px;
    height: 12px;
}

.shopping_cart{
    margin-left: 79px;
}

.section_one_banner{
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 42px;
    height: 496px;
    img{
        height: 496px;
    }
}

