.login{
    padding: 0;
    margin: 30px 0 0 0;
    @media (min-width: 768px) {
        padding: 0 42px;
        margin: 60px 0;

    }
    .left{
        form>div{
            padding: 0;
            @media (min-width: 768px) {
                padding: 40px 30px 25px 30px;
            }
        }

        .top{
            margin-bottom: 0;
            padding: 30px 0;
            @media (min-width: 768px) {
                margin-bottom: 40px;
                padding: 0;
            }
            font-size: 36px;
            line-height: 50px;
        }
       
    }


    .three_logo{
        padding: 30px;
        a{
            height: 56px;
            padding: 14px;
        }

    }

    .center{
        padding: 30px 30px 0 30px;
        @media (min-width: 768px) {
            padding: 0;
        }
        label{
            width: 24px;
            height: 24px;
            margin: 16px 0 0 20px;
        }
        .form-control{
            margin-bottom: 16px;
            height: 56px;
            padding-left: 64px;
        }
    }

    .form-check{
        margin: 0 30px ;
        padding-bottom: 30px;
        @media (min-width: 768px) {
            margin: 0;
            padding-bottom: 0px;
        }

        //手機版打勾閃爍待處理

        input[type="checkbox"]:checked::after {
            content: "✓"; /* 加上勾勾 */
            font-size: 16px;
            color: #3F5D45; 
            position: absolute;
            top: 50%;
            left: 8.5px;
            transform: translate(-50%, -50%);

        }
    }

    .bottom{
        background:#FFE180;
        padding: 16px 0;
        font-size: 24px;
        line-height: 33px;
    }

    .login_right{
        padding: 40px 30px;
        p{
            font-size: 2.5vw;
            line-height: 36px;
            margin-bottom: 36px;
        }     
        div{

            a{
                height: 56px;
                width: 100%;
            }
            .fb_logo{
                width: 108px;
                height: 21px;
            }
            .google_logo{
                width: 94px;
                height: 31px;
            }
            .yahoo_logo{
                width: 97px;
                height: 22px;
            }
        }   
    }
   
}